.header {
    background-color:aquamarine;
    border-radius:5px;
    text-align:center;
}

.row {
    display:flex;
    justify-content: center;
}
.box{
    height: 50px;
    width: 50px;
    border: 1px black solid;
    text-align: center;
    line-height: 50px;
}



